$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

$font-indian-flower:'Indie Flower', cursive;
$font-nautigal: 'The Nautigal', cursive;

$main-size: 1rem;
$main-radius: 0.5rem;
