$color-primary: #08a6e4;
$color-primary-shadow: #3bc6f8d2;
$color-redish: #fb3b64;
$color-lime: lime;
$color-green: #61f3f3;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #a5a5a5;
$color-light-grey: #f7f7f7;

// grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// border radius

$border-radius: 2rem;

